body{
    background-color: white;
}
.container{
    color:black;
    display:flex;
    flex-direction: row;

    padding: 0 2em;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 100%;
 

    min-height: calc(100vh - 60px);
    
    
}

.image{
    height: 70%;
    max-width: 700px;
    padding: 0 2em;

 
    
    position: relative;
    left: 20%;
}
.email{
    position:absolute;
    top: 40%;
    right:  70%;
    width: 20%;
    height: 3vh;
    border:2px solid black;
    border-radius: 30px;
    background-color:white;
    color: black;
}
.password{
    position:absolute;
    top: 50%;
    right:  70%;
    width: 20%;
    height: 3vh;
    border:2px solid black;
    border-radius: 30px;
    background-color:white;
    color: black;
}
.errors{
    position:absolute;
    top: 43%;
    right:  70%;
    width: 20%;
    height: 3vh;

}
.error{
    position:absolute;
    top: 53%;
    right:  70%;
    width: 20%;



}
.button{
    position:absolute;
    top: 63%;
    right:  78%;
   
   
}
.h2{
    display: flex;
    padding-top: 100px;
    transform: translate(-50%);
 

   
   
   width: 280px;

   



   
  
}
.data{
    position:absolute;
    top: 26%;
    right:  70%;
}
.pro{
    display: flex;
    position: relative;
    bottom: 10px;
}
.log{
    position:absolute;
    top: 70%;
    right:  75%;
}
.signup{
    color:yellowgreen;
}
.h1{
    display: flex;
    position: relative;
    

    

  
}
.rotate{
    display: inline-block;
    width: 0;
    height: 1px;
    transform: rotate(-90deg);

    position:absolute;
    left:100%;
    bottom: 86%;
    color:orange;
    background-color:beige;


    box-sizing: border-box;



}
@media (min-width: 2200px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .image {
   
        height: 80%;
    }
    .imagecontainer{
        width: 100%;
    }
    .h1{
        display: flex;
        position: relative;
        right: 37%;

        top: 120px;
    
    }
    .h2{
        display: flex;
        transform: translate(60%,-80%);
        align-items: center;
       

    }
    .data{
        position:absolute;
        top: 30%;
        transform: translate(-10%,-70%);
       
    }
    .image{
        display: flex;
        width: 100%;
        margin-left: 100px;
        }
        .rotate{
            display: inline-block;
            transform: (-10%);

        }
}
@media (min-width: 2000px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .image {
        width: 80%;
    }
    .h1{
        display: flex;
        position: relative;
        right: 28%;
        top: 120px;
    
    }
    .h2{
        display: flex;
        position: relative;
        left: 180px;
        top: 253px;

    }
    .data{
        position:absolute;
        top: 30%;
        right:  78%;
    }
    .image{
        display: flex;
        width: 100%;
        margin-left: 100px;
        }
        .rotate{
            display: flex;
            position: relative;
          
          
        }
        
}
@media (min-width: 1800px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .image {
        width: 80%;
    }
    .h1{
        display: flex;
        position: absolute;
        right: 81%;
        top: 120px;
    
    }
    .h2{
        display: flex;
        position: absolute;
        right: 74%;
        top: 253px;

    }
    .data{
        position:absolute;
        top: 30%;
        right:  74%;
    }
    .image{
        display: flex;
        width: 100%;
        margin-left: 100px;
        }
        .rotate{
            display: inline-block;
            position:absolute;
            left: 100%;
            bottom: 1000px;
            
        }
}
@media (max-width: 1240px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    
    .h1{
        display: flex;
        left: 130px;
        bottom: 20px;
   
        font-size: 1.9em;
       
   
    
    }
    .h2{
        display: flex;
        position: relative;

       left: 260px;
        font-size: 1em;
        
      

    }
    .data{
        position:fixed;
        top: 29%;
        right:  66%;
        font-size: 0.85em;
    }
    .image{
        display: flex;
        width: 40%;
        height: auto;
        margin-left: 210px;
        flex-wrap: wrap;
        position: relative;
        bottom: 200%;
        margin-top: -280px; 
        max-width: 400px;
   
        top:300px;
    
        }
        .rotate{
            display: inline-block;
            position:relative;
            bottom: 10px;
            margin-right: -600px;
       
  
  
            
        }
        .footer{
         display: flex;
         flex-wrap:wrap ;
         position: absolute;
         bottom: 70px;
         right: -98px;

        }
        .data{
            position:absolute;
        }
        .order{
        
           padding-top: 20px;
        }
       .pages{
        margin-right: 10%;
       }
       .links{
        margin-left: 91%;
        position: relative;
        bottom: 250px;
        font-size: 0.9em;
   
       }
       .submit{
        margin-top: 11vh;
       }
       
}

@media screen and (max-width:968px)  {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .image {
        width: 60px;
        height: 400px;
        left: -100px;
        margin-bottom: 120px;
    }
    .h1{
        display: flex;
        position: relative;
        right: 78%;
    
    
    }
    .h2{
        display: flex;
        position: absolute;
        right: 71%;
        bottom: 450px;
        font-size: 1.05em;

    }
    .data{
        position:absolute;
        top: 28%;
        right:  66%;
        font-size: 0.7em;
    }
    .image{
        display: flex;
        width: 100%;
        margin-left: 100px;
        }
        .rotate{
            display: inline-block;
            position:absolute;
            bottom: 467px;
            left: 97%;
          
            
        }
        .log{
            display: inline-block;
            margin-left: 50px;
        }
        .footer {
            transform: none;
       
            display: flex;
     
         
            
            
        }
        .navu{
            margin-left: 20px;

       
        }
}
@media screen and  (max-width: 768px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: auto;
      
    }

    .imagecontainer {
        display: none;
   
    }
    .h1{
        display: flex;
        position: relative;
        left:270px;
        bottom: 40px;

    
    }
    .h2{
        display: flex;
        position: absolute;
        left: 420px;
        top: 3px;
        font-size: 1.05em;

    }
    .data{
        position:absolute;
        top: 26%;
        right:  22%;
        font-size: 1.05em;
    }

        .rotate{
            display: inline-block;
            position:absolute;
            left: 82px;    
            bottom: 470px;   
        }
        .log{
            display: inline-block;
            margin-left: 50px;
        }
        .email{

            right: 43vh;
          
            width: 100%;
            top:410px;

        }
        .errors{
          left: 40vw;
     

        }
        .inputemail{
            position: relative;
            bottom: 170px;
        }
        .password{
           position: relative;
           transform: translateX(50px) translateY(-70px);
           width: 100%;
           right: 52vh;
           top: 57vh;
        
        }
        .error{
          left: 40vw;
        }
        .button{
            transform: translatex(220px)translateY(-8px);
        }
        .log{
            transform: translatex(220px)translateY(-10px);
        }
        .footer{
            display: flex;
            flex: 1 1 x;
            flex-wrap: wrap;
            height: 700px;
            font-size: 0.8em;
   
            
          
       
        }
}
@media screen and (max-width: 606px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .imagecontainer {
        display: none;
   
    }
    .button{
        transform: translateY(70px);
    }
    .h1{
        display: flex;
        position: absolute;
        left: 230px;
        top: 10px;
    
    }
    .h2{
        display: flex;
        position: absolute;
        left: 360px;
        top:  -30px;
        font-size: 1.3em;

    } 
    .rotate{
        display: inline-block;
        position:absolute;
        left: 80px;
        bottom:468px;
      
        
    }
    .data{
        position:absolute;
        top: 22%;
        right:  32%;
        font-size: 0.6em;
    }
    .email{
        transform: translate(250%,-180%);

    }
    .password{
        transform: translate(280%,-370%);
    
    }
    .errors{
        transform: translate(10%,-120%);
    }
    .error{
        transform: translate(10%,-80%);
        font-size: 0.8em;
    }
    .log{
        font: 1em;
        transform: translate(180%,30%);
    }
    .button{
        transform: translate(220%,-10%);
    }
    .order{
       position: relative;

    }

}
@media screen and (max-width: 499px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        padding: 0 2em;
    }
    .imagecontainer {
        display: none;
   
    }
    .button{
        transform: translateY(70px);
    }
    .h1{
        display: flex;
        position: absolute;
        
        top: 12px;

    
    }
    .h2{
        display: flex;
        position: absolute;
        left: 300px;
        top: 2%;


        font-size: 1.09em;

    } 
    .rotate{
        display: inline-block;
        position:absolute;
        left: 80px;
      
        bottom:470px;
      
        
    }
    .data{
        position:absolute;
        top: 27%;
        right:  23%;
        font-size: 0.7em;
    }
    .email{
        transform: translate(210%,-80%);
    }
    .password{
        transform: translate(240%,-300%);
    }
    .errors{
        transform: translate(10%,-70%);
    }
    .error{
        transform: translate(10%,10%);
        font-size: 0.7em;
    }
    .log{
        font: 0.2em;
        transform: translate(220%,20%);
    }
    .button{
        transform: translate(200%,0%);
    }
    .footer{
        font-size: 0.5em;
    }
    .order{
        margin-top: 2em;
        
    }
    .navu{
        position: relative;
        right: 10px;

    }

}


.divcontain{
    color: black;
    transform: translate(10%,20%);
}
.hand{
    width: 40px;
    height: 40px;
    transform: rotate(10deg);
    margin-left: 10px;
}
.footer {
    background-color:#ececec;
    width: 100vw; 
    max-width: 100vw;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;

    flex-wrap: wrap;

transform: translate(-130px,100px);
    height: 400px;
    padding: 0 2em; 
    flex: 1 1  calc(25%-30px);
   
  
    
 



    position: relative; 
    box-sizing: border-box;
 

}


.order{
    display: flex;
   


    position: absolute;
    top: 1vh;
    left: 14%;
    color: #000;
    font-size: clamp(1em,3vw,3em);

}

.navu{

    position: relative;
    bottom: 18vh;
    left: 21%;
    transform: rotate(90deg);
    background-color: gray;
    font-size: clamp(1em,1vw,3em);


    color: #000;
}
.deals{

    color: #000;
    position: relative;
    bottom: 18vh;
    left: 24%;
    max-width: 30em;
    font-size: clamp(1em,2vw,3em);
    display: flex;
    flex-wrap: wrap;
}
.legal{
    margin-bottom: 40vh;
    position: relative;
 
    left: 25%;
    font-size: clamp(1em,2vw,3em);
    color: #000;
    
}
.apple{

    display: flex;
    max-width: 100px;
    flex-wrap: wrap;
    flex-direction: row;
  
    position: absolute;
    left: 13%;  
    background-color: #000;
    border: 5px solid black;
    border-radius: 13px;
    margin-bottom: 8vh;



 
}
.apples{
    display: flex;
    max-width: 100px;
    flex-wrap: wrap;
    flex-direction: row;

    position: absolute;
    left: 20%;  
    background-color: #000;
    border: 5px solid black;
    border-radius: 13px;
    margin-bottom: 8vh;
}
.sub{
 
        display: flex;
        width: 20%;
        max-width: 400em;
        flex-wrap: wrap;
        flex-direction: row;
        color: #000;
    
        position: absolute;
        left: 30%;  
        background-color:white;
        border: 5px solid transparent;
        border-radius: 13px;
        margin-bottom: 8vh;

}
.submit{
    position: relative;
    right: 19% ;
    bottom: 4vh;
    max-width: 100px;
    border: 6px solid transparent;
    padding: 1px;
    border-radius: 20px;
    background-color:orange;
    color: black;
}
.pages{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    right:  22vh;
    bottom: vh;
    gap: 10px;
    cursor: pointer;
    text-decoration: underline;
  
 

    


}
.Terms,.privacy,.cookies,.Modern{
    color: #000;

}
.links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    right:  20vh;
    bottom: vh;
    gap: 10px;
    cursor: pointer;
    text-decoration: underline;
  
 
}
.sign,.helps,.create,.help,.Add{
    color: #000;

}
