
.header{
    display: flex;
    color: #000;
    

 

    justify-content: space-between;


    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
}
.userName{
    display: none;
}
.menuing{
    display: none;    
    
 }
.container{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;

    min-height: 100vh;
    width: 100%;

color: #000;

  
    color: #000; 
}

.cart{
    width: 20%;
    border: 4px solid white;
    background-color: green;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding: 0 2em;
    border-radius: 10px;
    opacity: 0px;
  
}
.Edit{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 6%;

}

.changeAddress{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;





}
.addAddress{
   width: 
   15vw;
   max-width: 100%;
   min-height: 200px;
   border: 2px dotted black;
   align-items: center;
   background-color: white;
   color: #000;
 

}
.changing{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted black;
    max-width: 100%;
    width: 20vw;


}
.addAddress1,.addAddress2{
background-color: white;
color: #000;
}


.adding{

    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

 

    backdrop-filter: blur(5px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    border: 5px solid ;

   
}
.city{
max-width: 140px;
height: 80%;
background-color: white;
color: #000;






}
.input{
    background-color: white;
    color: #000;
}
.adding1{



    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid;
    max-width: 500px;
    width: 40vw;

    padding: 0 1em;
 
    min-height: 60vh;
    gap: 40px;
    

    
}
.dropdown{
    position: absolute;
    top: 57%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #000;


    list-style: none;
    padding: 0;
    margin: 0;

}
.arrow {
    margin-left: -25px;

  }

  .inputContainer{
    display: flex;
    flex-direction: row;

    gap: 10px;
  }

  

.inputs{
    max-width:300px;
    width: 50vw;
    display: flex;


    min-height: 180px;
    background-color: white;
    color: #000;
    padding: 1em;
}
.save{
    background-color:orange;
    align-self: flex-end;
    flex: 1;
}

.name{
    display: flex;
    flex-direction: column;
}
.mainbar {

    display: flex;
    align-items: center;

    flex-direction: row;
    padding: auto;
    flex-wrap: wrap;
    padding: 1em;
    width: 80vw;


    justify-content: space-between;
    gap: 10px;

}


.menu {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap
}
.menuorders{

    display: flex;
    align-items: center; 
    margin: 0 20px;
    text-align: center;

    white-space: nowrap; 

}
.uk{
    transform: rotate(90deg);
    background-color: orange;
    

}
.user{
    background-color: #000;
    border: 3px solid transparent;
    color: orange;
    width: 100%;
    border-radius: 48px;
    font-size: small;
    white-space: nowrap;
    flex: 0;
    cursor: pointer;
    font-weight: bold;


}
.savedAddress{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted black;
    max-width: 100%;
    width: 20vw;

  
}
.footer{
    display: flex;
    background: #D9D9D9;
    flex-direction:column;
    width: 100%;

   
    box-sizing: border-box;
    align-self:flex-start ;
 
    

 

    justify-content: space-between;

 



    flex-wrap: wrap;
 


  

  


  
    gap: 10px;

}

    
.upperPart{
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    padding: 2em;

    


    justify-content: space-between;
    gap: 10px;

}
.Uks{
    display: flex;
    
    
   
    align-items: center; 


    white-space: nowrap; 

}
.h2{
    display: flex;
    font-size: 1.5em;

}
.Uk{
    background-color: grey;
    transform: rotate(90deg);
}



    

.middlePart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brands{
    display: flex;
    gap: 20px;
}
.social{
    display: flex;

}

.pages{
    display: flex;
    flex-direction: column;




}
.apple,.apples{
    max-width: 100px;
    padding: 1em;
}
.sub{
    max-width: 200px;
    background-color: white;
    border: 3px solid transparent;
    border-radius: 20px;
   height: 7vh;
}
.submit{
    height: 6vh;
    color:beige;
    background-color: orange;
    border-radius: 20px;
}
.Terms,.privacy,.refund,.refunds,.Terms1,.privacy2,.refund3,.refunds3{
    color: #000;
}
.LastRow{
    display: flex;
    flex-direction: row;
    gap: 60px;

    padding: 2em;
}
.socialMedia{
    display: flex;

}
.copyright{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #03081F;
    color: white;
    justify-content: space-between;
}
@media  screen and (max-width: 776px) {
    .restaurants{
        max-width: 300px;
    }
    .mainbar{
        max-width: 500px;
    }
    .addressfield{
        max-width: 100px;
    }

    .apple,.apples{
        max-width: 60px;
        height: 40px;
        
    }
        .sub{
            max-width: 150px;
            height: 30px;
            font-size: 0.5em;
            align-items: center;
            margin-top: 10%;
        
    }
    .submit{
        max-width: 50px;
        font-size: 0.5em;
        height: 30px;
        margin-top: 10%;
    }
    .pages{
    font-size: 0.5em;    
}

}
@media screen and (max-width: 490px) {
 

    .apple,.apples{
    max-width: 50px;
    height: 10vh;
    }
    .sub{
        max-width: 50px;
        font-size: 0.5em;
    }
    .middle{
        max-width: 120px;
        height: 200px;
    }
  
    .get{
        display: none;
    }
    .middlePart,.pages{
        display: flex;
        flex-direction: column;
    }
    .middlePart{
        align-items: center;
        gap: 10px;
    }
    .sub,.submit{
        width: 100%;
    }
    .submit{
        height: 10%;
    }
    .LastRow{
        flex-direction: column;
        align-items: center;
    }
    .policy{
        display: none;
    }
    .cartDetails {
   display: none;
 
 
    }
    .addressfield{
        max-width: 50px;

    }
    .addresshere{
        max-width: 200px;
        font-size: 0.5em;
    }
    .class1{
        display: none;
    }
    .promo{
        display: none;
    }
    .userName{
        display: block;
        background-color: #000;
        border: 3px solid transparent;
        color: orange;
        width: auto;
        border-radius: 48px;
        font-size: small;
        white-space: nowrap;
        flex: 0;
        cursor: pointer;
        font-weight: bold;
    
    
    }
    .rowing{
        display: flex;
        flex-direction: column-reverse;
    }
    .off{
        display: none;
    }
    .user{
        display: none;
    }
    .class{
        display: none;
    }



    .menuing{
        display: block;    
        
        }
        .header{
           flex-direction: row-reverse;
           flex-wrap: wrap;

          
        }

 


}

.user{
    background-color: #000;
    border: 3px solid transparent;
    color: orange;
    width: auto;
    border-radius: 48px;
    font-size: small;
    white-space: nowrap;
    flex: 0;
    cursor: pointer;
    font-weight: bold;


}
